.discus {
    text-align: center;
}

.question-link {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    align-items: center;
    justify-content: flex-end;
}

.question-link h3 {
    font-weight: bold;
    text-align: center;
}

.question-link p {
    margin-right: 0.5em;
    font-size: 0.9em;
}

.question-link a {
    margin: -0.25em 0.25em;
    border-radius: 0.15em;
}

.question,
.answer {
    padding: 1em;
    margin-bottom: 1em;
    text-align: left;
}

.question {
    margin-top: 1em;
}

.answer {
    margin-left: 1em;
}

.question h3 {
    font-weight: bold;
}

.question .info,
.answer .info {
    border-top: 1px solid #eaeaea;
    padding: 0.5em 1em;
    font-size: 0.8em;
    margin: -1.25em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.question .info p,
.answer .info p {
    display: inline-block;
    margin-right: 0.5em;
}

.question .info div,
.answer .info div {
    font-weight: bold;
}

.question .info .platinum,
.answer .info .gold {
    font-size: 1.5em;
    vertical-align: bottom;
}

.new-answer {
    margin-left: 1em;
}

.new-question textarea,
.new-answer textarea {
    display: block;
    width: 100%;
    height: 9em;
    font-size: 1em;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.new-question {
    margin-top: 1em;
}

.new-question h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.new-question input {
    display: block;
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

@media screen and (min-width: 780px) {
    .discus {
        text-align: left;
    }

    .question-link {
        flex-direction: row;
        padding: 0.5em 1em;
        padding-right: 0em;
    }
    
    .question-link h3 {
        margin-right: auto;
    }

    .question .info,
    .answer .info {
        flex-direction: row;
    }

    .question .info div,
    .answer .info div {
        margin-left: auto;
    }
}
