.course {
    padding-top: 0.5em;
}

.course h1 {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
    padding-bottom: 0.25em;
}

.course h2 {
    font-size: 1em;
    font-weight: bold;
    color: #666;
    margin: 0;
}

.course .short-desc {
    font-size: 0.9em;
    text-align: justify;
    margin-bottom: 0.5em;
}

.course .ed-link {
    display: block;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 0.15em;
}

.course .certificate {
    color: #f1c727;
}

.course > .prog {
    margin-bottom: 0.5em;
}

.no-results {
    text-align: center;
    padding-top: 1em;
}

.no-results h1 {
    font-size: 2em;
    font-weight: bold;
    color: #888;
    margin-bottom: 0.5em;
}